@import
    "compass",
    "colors",
    "mixins",
    "grid",
    "global",
    "fonts",
    "icons",
    "typography",
    "sidenav",
    "offcanvas",
    "breadcrumbs",
    "tabs",
    "pills",
    "segmented_control",
    "dropdowns",
    "buttons",
    "forms",
    "tooltips",
    "alerts",
    "panels",
    "tables",
    "tables_selective",
    "pagination",
    "badges",
    "modals";

.forms {
  margin: 0; }
  .forms .inputs > div, .forms .selects > div, .forms .small_inputs > li {
    margin-bottom: 2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 650px) {
      .forms .inputs > div, .forms .selects > div, .forms .small_inputs > li {
        margin-bottom: 0; } }
  .forms .inputs, .forms .selects {
    max-width: 600px;
    margin-bottom: 2rem; }
  .forms input[type=text], .forms .select2-container-multi .select2-choices, .select2-container-multi .forms .select2-choices, .forms input[type=password] {
    margin: 0 auto;
    width: 100%; }
    @media (max-width: 650px) {
      .forms input[type=text], .forms .select2-container-multi .select2-choices, .select2-container-multi .forms .select2-choices, .forms input[type=password] {
        margin-bottom: 2rem; } }
  .forms .small_inputs {
    max-width: 600px;
    margin-bottom: 2rem; }
    .forms .small_inputs ul {
      margin-bottom: 2rem; }
    .forms .small_inputs li .icosolo[class*="icon_"] {
      text-align: right;
      display: block;
      width: 100%; }
    .forms .small_inputs li:first-child .icosolo[class*="icon_"] {
      text-align: left; }
    .forms .small_inputs li .icosolo[class*="icon_"]:before {
      left: auto;
      right: -0.25rem; }
    .forms .small_inputs li:first-child .icosolo[class*="icon_"]:before {
      right: auto;
      left: -0.5rem; }
  .forms .selects > div {
    margin: 0; }
  .forms .checkboxes {
    display: block;
    margin-bottom: 4rem; }
    .forms .checkboxes > div {
      margin-bottom: 2rem; }
  .forms .radios {
    display: block;
    margin-bottom: 4rem; }
    .forms .radios > div {
      margin-bottom: 2rem; }
  .forms .tooltips {
    margin-top: 2rem; }
  .forms a.tooltip, .forms .stepper.interactive .tooltip.prev, .stepper.interactive .forms .tooltip.prev, .forms .stepper.interactive .tooltip.next, .stepper.interactive .forms .tooltip.next {
    display: inline-block;
    margin: 0 0 4rem;
    line-height: 1rem; }
  @media (max-width: 650px) {
    .forms a.tooltip.ttleft, .forms .stepper.interactive .tooltip.ttleft.prev, .stepper.interactive .forms .tooltip.ttleft.prev, .forms .stepper.interactive .tooltip.ttleft.next, .stepper.interactive .forms .tooltip.ttleft.next {
      float: right; } }
  .forms .stepper {
    margin: 4rem 0; }
  .forms .columns.input {
    padding-right: 0.625rem; }
    @media (max-width: 650px) {
      .forms .columns.input {
        padding: 0; } }
  .forms label.columns {
    padding-right: 1.25rem !important;
    margin-top: 0.625rem;
    font-weight: bold;
    line-height: 0.875rem;
    white-space: nowrap;
    text-align: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1100px) {
      .forms label.columns {
        margin-top: 0.375rem;
        padding: 0;
        line-height: 1.75rem; } }
    @media (max-width: 650px) {
      .forms label.columns {
        text-align: left;
        margin: 0 0 2rem; } }


.container {
    width: 20rem;
    height: 18rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9rem;
    margin-left: -10rem;

    input {
        margin-bottom: 0.5rem;
    }

    .welcome {
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        color: #aaa;
    }
}

.logo-container {
    margin-top: 2rem;
    text-align: center;
}

.logo-container > img {
    width: 12rem;
}