@import
    "colors",
    "compass";

.login-container {
    width: 20rem;
    height: 24rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10rem;
    margin-top: -12rem;

    input {
        margin-bottom: 0.5rem;
    }

    .welcome {
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        color: #aaa;
    }
}

@media only screen and (max-width: 320px) {
    .login-container {
        width: 16rem;
        height: 20rem;
        margin-left: -8rem;
        margin-top: -10rem;
    }

    .header .searching {
        .logout {
            display: none;
        }

        .icon_help {
            display: none;
        }
    }

    #searchInput:focus {
        width: 4rem;
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 640px) {

    .header .searching {
        .logout {
            display: none;
        }

        .icon_help {
            display: none;
        }
    }

    #searchInput:focus {
        width: 4rem;
        padding-left: 2rem;
    }
}

.logo-container {
    margin-top: 2rem;
    text-align: center;

    & > .logo {
        height: 6rem;
        width: 12rem;
        margin: 0 auto;
    }
}

.logo {
    background-image: url('../images/login-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    padding: 0.625rem 1rem;
    overflow: hidden;

    .logo {
        height: 4rem;
    }

    .bannermenu {
        float: right;
        color: #02a7ec;

        & > div {
            float: right;
            height: 2rem;
            width: 2rem;
            margin-right: 0.25rem;
        }

        .logout {
            padding-top: 0.75rem;
            padding-left: 0.25rem;
        }

        .search {
            float: right;
            input {
                width: 1rem;
                padding: 0.45rem;
                margin-top: 0.25rem;
                margin-left: 0.2rem;
                border: 1px solid #ccc;
                @include border-radius(10rem);
                @include transition(all 0.5s);
                outline: none;
            }

            > input:focus {
                width: 6rem;
                padding-left: 2rem;
            }
        }
    }
}

.panel {

    background-color: #FFF;
    margin-top: 0.25rem;
    position: relative;

    .columns {
        margin-bottom: 0.25rem;
    }

    .form_heading {
        background: transparent;
        padding: 0 0 1rem 0;
    }

    p {
        padding-left: 0;
    }

    > div {
        overflow: hidden;
    }

    pre.config {
        overflow: scroll;
        max-height: 16rem;
        margin: 0.5rem 0.25rem;
    }
}

.chartLabel {
    display: inline-block;
    .chartLabelHeader {
        padding: 0 0 0 0.25rem;
        font-size: 1rem;
        color: gray;
        display: inline-table;
        vertical-align: middle;
    }
    .chartUnits {
        min-width: 0.625rem;
        font-size: 0.625rem;
    }
    label {
        display: table-row;
    }
}

.panel_wrapper {
    > div {
        margin-bottom: 0.625rem;
        overflow: hidden;
    }

    h3 {
        margin: 0.625rem 0;
    }
}

.about {
    div {
        margin-bottom: 0.8rem;
        overflow: hidden;

        span:nth-child(1) {
            font-weight: bold;
        }
        span {
            padding-left:0;
        }
    }
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;

    .dropdown-header {
        padding: 5px;

        > input {
            height: 2rem;
        }
    }
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus {
    color: #999
}

.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.button2 {
    background: url("../images/select_arrow@2x.png") #fff no-repeat right center;
    background-size: 38px 38px;
    display: inline-block;
    text-align: left;
    position: relative;
    color: $colorHighlight;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
    @include border-radius(4px);
    // @include box-shadow(0 -2px 0 rgba(0,0,0,0.20) inset);
    border: 1px solid $colorDivider;
}

.multiselect-parent {
    overflow:hidden;
    width:100%;
}

.wifiSignal1 {
    background: url("../images/wifi1.gif") #fff no-repeat right center;
    width:25px;
    height:25px;
    float:left;
    margin-top:2px;
}

.wifiSignal2 {
    background: url("../images/wifi2.gif") #fff no-repeat right center;
    width:25px;
    height:25px;
    float:left;
    margin-top:2px;
}

.wifiSignal3 {
    background: url("../images/wifi3.gif") #fff no-repeat right center;
    width:25px;
    height:25px;
    float:left;
    margin-top:2px;
}