div.panel
    h2.title_heading.form_heading Configuration   
    div
        h3 Current Configuration
        pre.config {{currentConfig}}
    button.medium.button.medium-12.columns(ng-click='clearConfig()') Clear Configuration

