div.panel_wrapper
    div.small-12
        h3.small-12.columns Bandwidth Usage:
        div.small-6.columns 
            div.badge.badge-medium.badge-orange {{statsData.througput.in}}
            div.chartLabel
                div.chartLabelHeader
                    label.chartUnits bps
                    label.chartInlineLabel In
        div.small-6.columns
            div.badge.badge-medium.badge-blue {{statsData.througput.out}}
            div.chartLabel
                div.chartLabelHeader
                    label.chartUnits bps
                    label.chartInlineLabel Out
    div.panel.table.rounded.white.no_pad.small-12
        div.title_heading {{network_table_head}}
            div.dropdown.alt
                div
                    a.icosolo.icon_add(href="#/network/new/")
        div.table_wrapper
            table.data.responsive
                thead.sortable
                    tr
                        th.sort.down Name
                        th Clients
                        th.actions
                tbody
                    tr(ng-repeat="network in summaryData.networks")
                        td.name
                            a(href="#/network/edit/{{network.c[0]}}") {{network.c[1]}}
                        td.clients {{network.c[2]}}
                        td.actions
                            a.icosolo.icon_edit(href="#/network/edit/{{network.c[0]}}")
                            a.icosolo.icon_delete.delete(ng-click='deleteNetwork(network.c[0])')

    div.panel.table.rounded.white.no_pad
        div.title_heading {{client_table_head}}
        div.table_wrapper
            table.data.responsive
                thead.sortable
                    tr
                        th.sort.down Name
                        th.actions
                tbody
                    tr(ng-repeat="client in summaryData.clients")
                        td.name {{client.c[0]}}
                        td.actions
                            a.icosolo.icon_delete.delete
