div.login-container
    div.logo-container
        div.logo
    div.welcome Instant
    input.medium-12.columns.input(type='text', id='username', ng-model='username', placeholder='Username', required, autofocus)
    input.medium-12.columns.input(type='password', id='passwd', ng-model='passwd', placeholder='Password', ng-keypress='passwdKeyPress($event)', required)
    
    button.medium.button.medium-12.columns(id='login-btn', ng-click='doLogin()') Log in

