div.panel
    h2.title_heading.form_heading Uplink Config
    div
        p.medium-4.columns Uplink:
        select.medium-8.columns.input(ng-model='data.uplinkType')
            option(value='pppoe') PPPoE
            option(value='dhcp') DHCP
            option(value='static') Static IP
            option(value='wifiuplink') WiFi Uplink

        div(ng-switch, on='data.uplinkType')
            div(ng-switch-when='pppoe')
                p.medium-4.columns Username:
                input.medium-8.columns.input(type='text', ng-model='data.pppoe.user')
                p.medium-4.columns Password:
                input.medium-8.columns.input(type='password', ng-model='data.pppoe.password')
                p.medium-4.columns Service name:
                input.medium-8.columns.input(type='text', ng-model='data.pppoe.servicename')

            div(ng-switch-when='dhcp')

            div(ng-switch-when='static')
                p.medium-4.columns IP address:
                input.medium-8.columns.input(type='text', ng-model='data.staticIP')
                p.medium-4.columns Netmask:
                input.medium-8.columns.input(type='text', ng-model='data.staticNetmask')
                p.medium-4.columns Gateway:
                input.medium-8.columns.input(type='text', ng-model='data.staticGateway')

            div(ng-switch-when='wifiuplink')
                p.medium-4.columns SSID:
                //- select.medium-8.columns.input.select2(ng-model='data.uplinkSSID')
                //-     optgroup(ng-repeat='ssid in data.uplinkSSIDs' value='{{ssid}}') {{ssid}}
                div(ng-dropdown-multiselect-directive options="example9data" selected-model="example9model" extra-settings="example9settings")
                p.medium-4.columns Passphrase:
                input.medium-8.columns.input(type='password', ng-model='data.uplinkSSIDPassphrase')

            div(ng-switch-default)

    button.medium.button.medium-12.columns(ng-click='saveSettings()') OK

    button.medium-12.medium.columns.button(ng-click='cancelHandler()') Cancel
