div.panel_wrapper
    div.panel.table.rounded.white.no_pad.small-12
        div.title_heading {{network_table_head}}
            div.dropdown.alt
                div
                    a.icosolo.icon_add(href='#/network/new/')
        div.table_wrapper
            table.data.responsive
                thead.sortable
                    tr
                        th#networks-name.sort.down Name
                        th Clients
                        th.actions
                tbody
                    tr(ng-repeat='network in networks')
                        td.name
                            a(href='#/network/edit/{{network.profilename}}') {{network.essid}}
                        td.clients {{network.clients}}
                        td.actions
                            a.icosolo.icon_edit(href='#/network/edit/{{network.profilename}}')
                            a.icosolo.icon_delete.delete(ng-click='deleteNetwork(network.profilename)')