.container {
    width: 20rem;
    height: 18rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9rem;
    margin-left: -10rem;

    input {
        margin-bottom: 0.5rem;
    }

    .welcome {
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        color: #aaa;
    }
}

.logo-container {
    margin-top: 2rem;
    text-align: center;
}

.logo-container > img {
    width: 12rem;
}