<div class='forms'>
    <h3>Uplink Config</h3>
    <div>
        <label class='small-12 medium-4 columns'>Uplink:</label>
        <select id='uplinkType' ng-model='data.uplinkType' class='small-12 medium-8 columns input'>
            <option value='pppoe'>PPPoE</option>
            <option value='dhcp'>DHCP</option>
            <option value='static'>Static IP</option>
            <option value='wifiuplink'>WiFi Uplink</option>
        </select>
    </div>

    <div ng-switch on='data.uplinkType'>
        <div ng-switch-when='pppoe'>
            <label class='small-12 medium-4 columns'>Username:</label>
            <input type='text' id='pppoeUsername' ng-model='data.pppoeUsername' class='small-12 medium-8 columns input'/>
            <label class='small-12 medium-4 columns'>Password:</label>
            <input type='text' id='pppoePasswd' ng-model='data.pppoePasswd' class='small-12 medium-8 columns input'/>
            <label class='small-12 medium-4 columns'>Service name:</label>
            <input type='text' id='pppoeService' ng-model='data.pppoeService' class='small-12 medium-8 columns input'/>
        </div>

        <div ng-switch-when='dhcp'>
        </div>

        <div ng-switch-when='static'>
            <label class='small-12 medium-4 columns'>IP address:</label>
            <input type='text' id='staticIP' ng-model='data.staticIP' class='small-12 medium-8 columns input'/>
            <label class='small-12 medium-4 columns'>Netmask:</label>
            <input type='text' id='staticNetmask' ng-model='data.staticNetmask' class='small-12 medium-8 columns input'/>
            <label class='small-12 medium-4 columns'>Gateway:</label>
            <input type='text' id='staticGateway' ng-model='data.staticGateway' class='small-12 medium-8 columns input'/>
        </div>

        <div ng-switch-when='wifiuplink'>
            <label class='small-12 medium-4 columns'>SSID:</label>
            <select id='uplinkSSID' ng-model='data.uplinkSSID' class='small-12 medium-8 columns input'>
                <option ng-repeat='ssid in data.uplinkSSIDs' value='{{ssid}}'>{{ssid}}</option>
            </select>
            <label class='small-12 medium-4 columns'>Passphrase:</label>
            <input type='text' id='uplinkSSIDPassphrase' ng-model='data.uplinkSSIDPassphrase' class='small-12 medium-8 columns input'/>
        </div>
        
        <div ng-switch-default></div>
    </div>
    <button ng-click='saveSettings()'>OK</button>
</div>