doctype html
html(lang="en", class="fa fontface")
  head
    title Instant UI
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="styles/font-awesome.min.css", rel="stylesheet")
    link(href="styles/common.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")

  body
    script(src="jscripts/third_party/jquery-1.11.3.min.js")
    script(src="jscripts/third_party/highcharts.js")
    script(src="jscripts/third_party/react.js")
    script(src="jscripts/third_party/react-dom.js")
    script(src="jscripts/third_party/ReactRouter.min.js")
    script(src="jscripts/third_party/xml2json.min.js")
    script(src="jscripts/third_party/fastclick.js")
    script(src="jscripts/app.js")