doctype html
html(lang="en")
  head
    title Instant Mobile UI
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="styles/common.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")

  body(ng-app="IAPMobileUI", class="fontface")
    div.header(ng-show="isLoggedIn==true")
      div
        div.logo.small-5.columns
        div.bannermenu.small-7.columns
          div.logout
            a(href="#/logout") Logout
          div.icon_help
          div.icon_search

      //- div.mobile_menu_toggle
      //-   //- a.icon_arrow_down Menu
      //- ul.sidenav
      //-   li.folder
      //-     a Navigation
      //-     ul
      //-       li
      //-         a Side Nav
      //-       li
      //-         a Off Canvas
      //-   li
      //-     a Buttons             

    div(ng-view)
    script(src="jscripts/third_party/angular.min.js")
    script(src="jscripts/third_party/angular-route.js")
    script(src="jscripts/third_party/angular-cookies.js")
    script(src="jscripts/third_party/xml2json.min.js")
    script(src="jscripts/third_party/fastclick.js")
    script(src="jscripts/app.js")
